<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ServerName" value="localhost" />
      <add key="Database" value="SOF105" />
      <add key="IntegratedSecurity" value="SSPI" />
      <add key="Username" value="" />
      <add key="Password" value="" />
    </appSettings>
</configuration>